@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./loading.css);

:root {
  --bg-primary: rgb(52, 53, 65);
  --bg-sec: rgb(66, 67, 83);
  --text-color: white;
  --button-bg: rgb(16, 163, 127);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: rgb(52, 53, 65);
    --bg-sec: rgb(66, 67, 83);
    --text-color: white;
    --button-bg: #10a37f;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}
